!!!
%haml
  %head
  %body
    .content
      = render partial: "groups/sidebar", locals: {groups: @groups}
      .content-right
        .content-right__group
          .content-right__group--groupzone
            .content-right__group--groupzone--name
              = @group.name
            .content-right__group--groupzone--member
              Members:
              - @users.each do |users|
                = users.name
          = link_to edit_group_path(@group) do
            .content-right__group--editbuttom Edit
        .content-right__chatsholder
          .content-right__chatsholder--firstspace
          %ul.content-right__chatsholder--chatspace
            = render @messages
        .content-right__bottom-bar
          = form_for [@group, @message] do |f|
            = f.text_field :text, placeholder: "type a message", class: "content-right__bottom-bar--textplace"
            %i.fa.fa-image
            = f. submit "send", class: "content-right__bottom-bar--sendbuttom"
